@layouts.main()
@slot('title')
About
@endslot

@slot('body')
<div>
  <img src="{{asset('/resources/images/welcome.png')}}" class="w-80 h-80 rounded mx-auto" alt="Hero Img">

  <h1 class="text-3xl font-bold mt-12 mb-10">
    Ini adalah Halaman Home
  </h1>

  <p>Silahkan Registrasi dengan menekan tombol pada navbar bagian kanan atas terlebih dahulu</p>

</div>
@endslot

@end
